@import "colors"
@import "resset"

html
    font-size: 14px

body
    background-color: $body-bg
    color: $dark
    font-family: 'Roboto', sans-serif
    padding-top: 40px

a
    color: $active-color
h2
    font-size: 24px
.btn
    padding: 20px 30px
    display: inline-block
    color: $white
    border-radius: 5px
    text-decoration: none
    font-size: 16px
    font-weight: 700
    &-primary
        background-color: $active-color
        border-bottom: 5px solid darken($active-color, 10%)
        &:hover
            background-color: lighten($active-color, 2%)

.top-nav
    background-color: $white
    padding: 15px
    img
        max-width: 200px
    &_menu
        list-style-type: none
        padding: 0
        display: flex
        li
            margin-right: 45px
            a
                text-transform: uppercase
                text-decoration: none
                color: $dark
                font-weight: 700
                &::after
                    content: ''
                    display: block
                    width: 100%
                    height: 2px
                    background-color: $active-color
                    transform: translateY(29px) scale(0)
                    transition: all .2s
                &:hover
                    text-decoration
                    &::after
                            transform: translateY(29px) scale(1)

.left-sidebar
    margin-top: 40px
    &-menu
        background-color: $white
        list-style-type: none
        padding: 0
        li
            transition: all 0.1s
            &:first-child
                a
                    padding-top: 20px
            &:last-child
                a
                    padding-bottom: 20px
            &:hover
                background-color: $active-color
                a
                    color: $white
            a
                display: block
                padding: 15px 29px
                text-decoration: none
                color: $dark
                font-size: 16px
                font-weight: 400
    &-object
        background-color: $white
        margin-top: 30px
        &-description
            padding: 30px
            h3
                text-transform: uppercase
                font-weight: 400

.content
    margin-top: 40px
.directions
    margin-top: 80px
    &-block
        background-color: $white
        height: 220px
        text-align: center
        margin: 0 15px
        padding: 10px
        background-position: bottom center
        background-repeat: no-repeat
        h3
            color: $active-color